<header>
      <a href="#" class="logo">MyLogo</a>
      <nav>
            <ul>
                  <li>
                        <a routerLink="/Home" [routerLinkActive]="activeClass">Home</a>
                  </li>
                  <li>
                        <a routerLink="/Hotels" [routerLinkActive]="activeClass">Hotels</a>
                  </li>
                  <li>
                        <a routerLink="/Room" [routerLinkActive]="activeClass">Room</a>
                  </li>
                  <li>
                        <a routerLink="/Booked-rooms" [routerLinkActive]="activeClass">booked-rooms</a>
                  </li>
            </ul>
      </nav>
</header>